@mixin styles {
  color-scheme: dark;

/* Framework color */
--main-bg: #001a21;                  /* darker than base03 */
--mask-bg: #002b36;                  /* base03 */
--main-border-color: #586e75;

 /* Common color */
--text-color: #839496;
--text-muted-color: #657b83;
--text-muted-highlight-color: #93a1a1;
--heading-color: #eee8d5;
--label-color: #93a1a1;
--blockquote-border-color: #586e75;
--blockquote-text-color: #657b83;
--link-color: #268bd2;
--link-underline-color: #2aa198;
--button-bg: #073642;
--btn-border-color: #586e75;
--btn-backtotop-color: var(--text-color);
--btn-backtotop-border-color: #586e75;
--card-header-bg: #073642;
--checkbox-color: #657b83;
--checkbox-checked-color: var(--link-color);
--img-bg: radial-gradient(circle, #000f14 0%, #001a21 100%);
--shimmer-bg: linear-gradient(
  90deg,
  rgb(131 148 150 / 0%) 0%,
  rgb(88 110 117 / 45%) 50%,
  rgb(131 148 150 / 0%) 100%
);

/* Sidebar */
--site-title-color: #93a1a1;
--site-subtitle-color: #657b83;
--sidebar-bg: #000f14;               /* near-black teal */
--sidebar-border-color: #002b36;
--sidebar-muted-color: #657b83;
--sidebar-active-color: #eee8d5;
--sidebar-hover-bg: #073642;
--sidebar-btn-bg: #001a21;
--sidebar-btn-color: #657b83;
--avatar-border-color: rgb(131 148 150 / 85%);

/* Topbar */
--topbar-bg: rgb(0 26 33 / 85%);
--topbar-text-color: var(--text-color);
--search-border-color: #586e75;
--search-icon-color: #657b83;
--input-focus-border-color: #268bd2;

/* Home page */
--post-list-text-color: #839496;
--btn-patinator-text-color: var(--text-color);
--btn-paginator-hover-color: #073642;

/* Posts */
--toc-highlight: #b58900;
--toc-popup-border-color: #586e75;
--tag-hover: #073642;
--tb-odd-bg: #00232c;
--tb-even-bg: #001a21;
--tb-border-color: #586e75;
--footnote-target-bg: #2aa198;
--btn-share-color: #657b83;
--btn-share-hover-color: #93a1a1;
--card-bg: #000f14;
--card-hover-bg: #073642;
--card-shadow:
  rgb(0 0 0 / 75%) 0 6px 18px 0,
  rgb(7 54 66 / 85%) 0 0 0 1px;
--kbd-wrap-color: #657b83;
--kbd-text-color: #eee8d5;
--kbd-bg-color: #073642;
--prompt-text-color: rgb(131 148 150 / 80%);
--prompt-tip-bg: rgb(133 153 0 / 35%);
--prompt-tip-icon-color: #859900;
--prompt-info-bg: rgb(38 139 210 / 35%);
--prompt-info-icon-color: #268bd2;
--prompt-warning-bg: rgb(181 137 0 / 35%);
--prompt-warning-icon-color: #b58900;
--prompt-danger-bg: rgb(220 50 47 / 35%);
--prompt-danger-icon-color: #dc322f;

/* Tags */
--tag-border: #586e75;
--tag-shadow: #000f14;
--dash-color: #586e75;
--search-tag-bg: #073642;

/* Categories */
--categories-border: rgb(101 123 131 / 60%);
--categories-hover-bg: #586e75;
--categories-icon-hover-color: #eee8d5;

/* Archive */
--timeline-node-bg: #93a1a1;
--timeline-color: #586e75;
--timeline-year-dot-color: var(--timeline-color);

/* Code highlight colors */
--language-border-color: #586e75;
--highlight-bg-color: #000f14;
--highlighter-rouge-color: #839496;
--highlight-lineno-color: #586e75;
--inline-code-bg: rgb(131 148 150 / 14%);
--code-color: #839496;
--code-header-text-color: #657b83;
--code-header-muted-color: #073642;
--code-header-icon-color: #657b83;
--clipboard-checked-color: #859900;
--filepath-text-color: #93a1a1;

  .light {
    display: none;
  }

  /* Categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      rgb(26 26 30),
      rgb(39 39 45),
      rgb(39 39 45),
      rgb(39 39 45),
      rgb(26 26 30)
    );
  }

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }

  /* --- Syntax highlight theme from `rougify style base16.dark` --- */

  .highlight .gp {
    color: #87939d;
  }

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: #d0d0d0;
    background-color: #151515;
  }

  .highlight .err {
    color: #151515;
    background-color: #ac4142;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #848484;
  }

  .highlight .cp {
    color: #f4bf75;
  }

  .highlight .nt {
    color: #f4bf75;
  }

  .highlight .o,
  .highlight .ow {
    color: #d0d0d0;
  }

  .highlight .p,
  .highlight .pi {
    color: #d0d0d0;
  }

  .highlight .gi {
    color: #90a959;
  }

  .highlight .gd {
    color: #f08a8b;
    background-color: #320000;
  }

  .highlight .gh {
    color: #6a9fb5;
    background-color: #151515;
    font-weight: bold;
  }

  .highlight .k,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kv {
    color: #aa759f;
  }

  .highlight .kc {
    color: #d28445;
  }

  .highlight .kt {
    color: #d28445;
  }

  .highlight .kd {
    color: #d28445;
  }

  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1 {
    color: #90a959;
  }

  .highlight .sa {
    color: #aa759f;
  }

  .highlight .sr {
    color: #75b5aa;
  }

  .highlight .si {
    color: #b76d45;
  }

  .highlight .se {
    color: #b76d45;
  }

  .highlight .nn {
    color: #f4bf75;
  }

  .highlight .nc {
    color: #f4bf75;
  }

  .highlight .no {
    color: #f4bf75;
  }

  .highlight .na {
    color: #6a9fb5;
  }

  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #90a959;
  }

  .highlight .ss {
    color: #90a959;
  }
}
